streamlit==1.38.0  # Required for creating the app interface
transformers==4.44.2  # Required for the sentiment-analysis pipeline
emoji==2.12.1  # Required for displaying emojis in the output
torch==2.4.1  # Required by Hugging Face model, used as the backend for running the model
numpy==1.24.0  # Required for numerical computations, especially by torch and transformers
filelock==3.16.0  # Required for managing pre-trained model caching
requests==2.32.3  # Required by transformers to download pre-trained models from Hugging Face
